<html>
    {%extends 'crudapp/base.html'%}
    {%block content%}
    <h1> Update student profile </h1>
    <form method='POST'>
        Student.No <input type="text" name='sno' value='{{student.sno}}''><br>
        Student.Name <input type="text" name='sname' value={{student.sname}}><br>
        Student.class <input type="text" name='sclass' value={{student.sclass}}><br>
        Student.address <input type="text" name='saddress' value={{student.saddress}}>
        <br>
        {% csrf_token%}
        <input type='submit' value='update detail'>
    </form>
    {%endblock%}
    </html>
